<% include ./partials/header %>
<h1></h1>
<div class="ui main text container segment">
    <div class="ui huge header">Edit <%= post.title %></div>
    <form class="ui form" action="/posts/<%= post._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="post[title]" value="<%= post.title %>">
        </div>
        <div class="field">
            <label>Image ( optional )</label>
            <input type="text" name="post[image]" value="<%= post.image %>">
        </div>
        <div class="field">
            <label>Content</label>
            <textarea name="post[body]"><%= post.body %></textarea>
        </div>
        <div class="ui buttons">
            <input class="ui primary button" type="submit">
            <div class="or"></div>
            <button type="button" class="ui button"><a href="/posts/<%=post._id%>">Cancel</a></button>
        </div>
    </form>
</div>

<% include ./partials/footer %>