<% include ./partials/header %>
<div class="ui main text container segment" id="post-container">
    <h1></h1>
    <div class="ui huge header"><%=post.title%></div>
    <% if(post.image != null) {%>
        <img id="image-container-large" class="ui rounded image" src="<%- post.image %>">
    <% } %>
    <div class="ui top attached item description">
        <p><%- post.body %></p>
    </div>
</div>




<div class="ui text main container">
    <div id="buttons">
        <a href="/posts/<%= post._id %>/edit">
        <button class="ui animated positive button" tabindex="0">
            <div class="visible content">Edit</div>
            <div class="hidden content">
                <i class="write icon"></i>
            </div>
        </button>
        </a>
        <form id="delete" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
            <button class="ui animated negative button" tabindex="0" type="submit">
                <div class="visible content">Delete</div>
                <div class="hidden content">
                    <i class="trash icon"></i>
                </div>
            </button>
        </form>
    </div>
</div>






<div class="ui main text container segment">
    <div class="ui huge header">Comments</div>
    <div class="ui top attached">
        <div class="item">
            <form class="ui form" action="/posts/<%=post._id%>/comments" method="POST">
                <textarea name="comment[body]" rows="4" cols="80"></textarea>
                <button class="ui animated primary button on-right" tabindex="0" type="submit">
                    <div class="visible content">Submit</div>
                    <div class="hidden content">
                        <i class="reply icon"></i>
                    </div>
                </button>
            </form>
            <h1></h1>
            <div>
                <% post.comments.reverse().forEach(function(comment) { %>
                    <h5><%=comment.user%></h5>
                    <p class="comment"><%=comment.body%></p>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<% include ./partials/footer %>
